# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.vscode/settings.json
cpac-venv/pyvenv.cfg
cpac-venv/testing_venv.py
cpac-venv/Scripts/activate
cpac-venv/Scripts/activate.bat
cpac-venv/Scripts/Activate.ps1
cpac-venv/Scripts/chardetect.exe
cpac-venv/Scripts/cv
cpac-venv/Scripts/deactivate.bat
cpac-venv/Scripts/easy_install-3.7.exe
cpac-venv/Scripts/easy_install.exe
cpac-venv/Scripts/epylint.exe
cpac-venv/Scripts/estimator_ckpt_converter.exe
cpac-venv/Scripts/f2py.exe
cpac-venv/Scripts/flask.exe
cpac-venv/Scripts/google-oauthlib-tool.exe
cpac-venv/Scripts/isort.exe
cpac-venv/Scripts/markdown_py.exe
cpac-venv/Scripts/numba
cpac-venv/Scripts/pip.exe
cpac-venv/Scripts/pip3.7.exe
cpac-venv/Scripts/pip3.exe
cpac-venv/Scripts/pycc
cpac-venv/Scripts/pylint.exe
cpac-venv/Scripts/pyreverse.exe
cpac-venv/Scripts/pyrsa-decrypt.exe
cpac-venv/Scripts/pyrsa-encrypt.exe
cpac-venv/Scripts/pyrsa-keygen.exe
cpac-venv/Scripts/pyrsa-priv2pub.exe
cpac-venv/Scripts/pyrsa-sign.exe
cpac-venv/Scripts/pyrsa-verify.exe
cpac-venv/Scripts/python.exe
cpac-venv/Scripts/pythonw.exe
cpac-venv/Scripts/saved_model_cli.exe
cpac-venv/Scripts/symilar.exe
cpac-venv/Scripts/tensorboard.exe
cpac-venv/Scripts/tf_upgrade_v2.exe
cpac-venv/Scripts/tflite_convert.exe
cpac-venv/Scripts/toco_from_protos.exe
cpac-venv/Scripts/toco.exe
cpac-venv/Scripts/wheel.exe
cpac-venv/Scripts/iptest.exe
cpac-venv/Scripts/iptest3.exe
cpac-venv/Scripts/ipython.exe
cpac-venv/Scripts/ipython3.exe
cpac-venv/Scripts/jupyter-kernel.exe
cpac-venv/Scripts/jupyter-kernelspec.exe
cpac-venv/Scripts/jupyter-migrate.exe
cpac-venv/Scripts/jupyter-run.exe
cpac-venv/Scripts/jupyter-troubleshoot.exe
cpac-venv/Scripts/jupyter.exe
cpac-venv/Scripts/pygmentize.exe
cpac-venv/Scripts/pywin32_postinstall.py
cpac-venv/Scripts/pywin32_testall.py
cpac-venv/share/jupyter/kernels/python3/kernel.json
cpac-venv/share/jupyter/kernels/python3/logo-32x32.png
cpac-venv/share/jupyter/kernels/python3/logo-64x64.png
cpac-venv/share/man/man1/ipython.1.gz
my_workspace.code-workspace
